
#main-aside-wrapper {
  flex-direction: row; /*строки слева направо*/
  display: flex; /*для блокового отображения*/
}
#main-aside-wrapper main, 
#main-aside-wrapper aside {
  background-color: #ddd;
  margin: 5px;
  padding: 20px;
}
#main-aside-wrapper aside {
  flex: 0;
  order: 1;/*порядок блоков*/
  flex-wrap: wrap;
}
#main-aside-wrapper main {
  flex: 1;
  order: 2;
}
footer {
    background-color: #ccc;
    height: 25px;
    padding: 10px;
    text-align: left;
  }
  th, td {
    padding: 5px;
    text-align: center;
  }
  
  th {
      font-size: 16px;
      text-align: center;
      background-color: #cd98ed;
      color: #000000;
    }
  
  tr:nth-child(even) {
    font-size: 16px;
    text-align: center;
    background-color: #ae9afa;
    color: #000000;
  }
  
  tr:nth-child(odd) {
    font-size: 16px;
    text-align: center;
    background-color: #c5b5ff;
    color: #000000;
  }
@media (min-width: 800px) {
  #main-aside-wrapper {
    flex-direction: row;
  }
}
